DATABASE_URL="mysql://user:password@host:port/database"
SERVER_PORT=3000
UNAUTH_PATHS="/auth/login;"
TOKEN="123"
NEVER_LOGIN_WARN=2
NEVER_LOGIN_REMOVE=3
LAST_LOGIN_WARN=45
LAST_LOGIN_REMOVE=60
EXPORTER_FILE="~/exporter.txt"